[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://jpauwels@github.com/vancegroup-mirrors/eigen.git
[submodule "libMusOO"]
	path = libMusOO
	url = https://jpauwels@github.com/jpauwels/libMusOO.git
